//Basic layout css
$gray-background-color: #f8f9fa

%aside-basic
    width: 320px
    height: 89%
    background-color: $gray-background-color
    position: fixed
    margin: 0px 3% 12px 3%
    border-radius: 12px
    padding: 12px 12px 12px 12px
    box-sizing: border-box
%content-basic
    width: 48%
    margin: auto
    margin-top: 12px
    border-radius: 12px
    padding: 0.375rem 0.75rem 0.375rem 0.75rem
    position: relative
    box-sizing: border-box
    margin-bottom: 24px
    background-color: #ffffff

.custom-container
    width: 100%
    clear: both
    margin-top: 66px

    .custom-aside-left
        @extend %aside-basic
        left: 0

    .card-tool-item
        padding-bottom: 12px
        margin-bottom: 12px 

    .custom-aside-right
        @extend %aside-basic
        right: 0
    
    .custom-content
        width: 42%
        margin: auto
        margin-top: 12px
        border-radius: 12px
        position: relative
        box-sizing: border-box

        .custom-buscador
            position: absolute
            top: 0px 
            width: 100%
            height: auto
            margin-bottom: 12px

        .custom-feed
            position: absolute
            top: 90px
            padding-top: 12px
            padding-bottom: 12px
            border-radius: 12px
            width: 100%
            background-color: $gray-background-color
            overflow-x: hidden
            overflow-y: hidden

            a
                text-decoration: none
                color: #000000

    .custom-content-post
        @extend %content-basic
    .custom-content-page
        @extend %content-basic
.toast-styles
    position: fixed
    top: 12px
    right: 12px
    margin: auto
    z-index: 1

code
    background: #f4f4f4
    border: 1px solid #ddd
    border-left: 3px solid #f36d33
    page-break-inside: avoid
    font-size: 15px
    line-height: 1.6  
    max-width: 100%
    overflow: auto
    padding: .6em .6em
    display: inline-block
    word-wrap: break-word

figcaption
    font-size: 0.8rem
    text-align: center
    margin: 0
    font-style: italic
    opacity: 0.6
.spinnerCustom
    display: block
    margin: auto
    margin-top: 30px
    margin-bottom: 30px

.politica-container
    position: absolute
    bottom: 12px
    left: 12px

    a
        text-decoration: none
        color: #a0a0a0
        font-weight: bold
        font-size: 0.8rem
        padding: 3px 6px 3px 6px
        background-color: #f3f3f3
        border-radius: 12px
        margin-left: 3px
        margin-right: 3px
    .btn-ayuda
        text-decoration: none
        color: #a0a0a0
        font-weight: bold
        font-size: 0.8rem
        padding: 3px 6px 3px 6px
        background-color: #f3f3f3
        border-radius: 12px
        cursor: pointer
        margin-left: 3px
        margin-right: 3px
.modal-header-custom
    padding: 0.6rem 1rem

.help-item-email
    display: block
    color: #6c9fff
    cursor: pointer
    &:hover
        color: #518bf5
.help-item-whatsapp
    display: block
    color: #32c958
    cursor: pointer
    &:hover
        color: #2db950
    
.card 
    border-radius: 12px !important

@media screen and ( max-width: 1200px )
    .text-title
        font-size: 1.5rem
    .custom-container
        width: 100%
        margin-left: 0
        margin-right: 0
        padding-left: 0
        padding-right: 0

        .custom-aside-left
            display: none
            margin: 0
            padding: 0

        .custom-aside-right
            display: none
            margin: 0
            padding: 0

        .custom-content
            width: 100%
            margin-left: 0
            margin-right: 0
            padding-left: 0
            padding-right: 0

            .custom-buscador
                position: relative
                .row
                    margin-left: 0
                    margin-right: 0

            .custom-feed
                top: 0px
                margin-left: 0
                margin-right: 0
                position: relative

        .custom-content-post
            margin-left: 0
            margin-right: 0
            width: 100%
            margin-bottom: 114px