/*  Created by: Rene Arteaga
    Date: 2020-03-15
    Content: Custom styles for cockycode.com
    Version: 1.0.0 */
@import './_layout'
@import './_header'
@import './_entradas'
@import './_scroll'
@import './_filtro_busqueda'
@import './_post'
@import './_page'
@import './_ads'
@import './_tools'
@import './_social_networks'
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body
    background-color: #ffffff
    font-family: 'Roboto'
    h1
        font-weight: 700
    h2
        font-weight: 600
    h3
        font-weight: 600
    h4
        font-weight: 600
    h5
        font-weight: 600
    .h5
        font-weight: 600
    .navbar-brand
        font-weight: 700
    .nav-link
        font-weight: 600

.custom-letra-opaca
    color: rgba(0, 0, 0, 0.2)